<%- include("../templates/encabezado") %>
<%- include("../templates/menu") %>

<div class="container mt -5">
    <div class="card">
        <div class="card-headerr">
            <h1>Productos</h1>
        </div>
        <div class="card.body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Stock</th>
                        <th>Precio</th>
                        <th>Foto</th>
                        <th>Editar/Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <% 
                    producto.forEach((nombre,i)=>{

                    
                    %>

                    <tr>
                        <td><%= i+1*100 %></td>
                        <td><%= nombre.nombre %></td>
                        <td><%= nombre.stock %></td>
                        <td><%= nombre.precio %></td>
                        <td><img src="/images/<%= nombre.foto %>" width="100px" alt=""> </td>
                        <td>
                            <a href="/editarProducto/<%= nombre.id %>">Editar</a>
                            <a href="/borrarProducto/<%= nombre.id %>">Borrar</a>
                        </td>
                    </tr>

                <% 
                });
                %>

                </tbody>
            </table>
        </div>
        <div class="card-footer"></div>
</div>
</div>

<%- include("../templates/pie") %>
